:root {
  --bg-1: light-dark(#e5e5f7, #494949);
  --bg-2: light-dark(#444cf7, #222227);
  --ball: light-dark(#f1c40f, #686de0);
  --floor: light-dark(#1a1a1a, #e5e5f7);

  color-scheme: light dark;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--bg-1);
  background-image: radial-gradient(var(--bg-2) 0.5px, var(--bg-1) 0.5px);
  background-size: 10px 10px;
}

.wrapper {
  position: relative;
  display: flex;
  gap: 16px;
  padding-inline: 16px;
  border-bottom: 5px solid var(--floor);
  border-radius: 5px;
}

.ball {
  animation: bounce var(--duration) infinite alternate cubic-bezier(0.15, 0.68, 0.65, 1.00);

  width: 50px;
  height: 50px;
  border-radius: 45%;
  background: var(--ball);
}

@keyframes bounce {
  to {
    transform: translateY(calc(var(--distance) * -1));
  }
}