:root {
  --bg-1: light-dark(#e5e5f7, #494949);
  --bg-2: light-dark(#444cf7, #222227);
  --ball: light-dark(#f1c40f, #686de0);
  --floor: light-dark(#1a1a1a, #e5e5f7);

  color-scheme: light dark;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--bg-1);
  background-image: radial-gradient(var(--bg-2) 0.5px, var(--bg-1) 0.5px);
  background-size: 10px 10px;
  font-family: system-ui;
}

.wrapper {
  flex: 1;
  display: grid;
  place-content: center;
}

.bar {
  --rotation: 0deg;
  animation: twist 750ms infinite alternate ease-in-out;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  background: var(--ball);
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}

input {
  display: block;
  width: 400px;
  accent-color: var(--ball);
}

@keyframes twist {
  from {
    transform: rotate(var(--rotation));
  }

  to {
    transform: rotate(calc(var(--rotation) * -1));
  }
}